# Ignore all .log files
*.log

__pycache__/

# Ignore all files in the build directory
/build/

# Ignore specific file
secrets.txt

# Ignore all the .db .pdf files
*.db
*.pdf
*.mp3
*_db

#Ignore all binaries and executables
.idea