<!DOCTYPE html>
<html>
    <head>
        <title>Practice Test</title>
    </head>
    <body>
        <p>Welcome to Practice Session</p>
        <form method="POST" action="/practice/receive/user">
          <label for="fname">Name:</label><br>
          <input type="text" id="fname" name="fname"><br>
            <label for="fgrade">Grade:</label><br>
            <input type="number" id="fgrade" name="fgrade"><br><br>
          <label for="fteacher">Teacher:</label><br>
          <input type="text" id="fteacher" name="fteacher"><br><br>
          <input type="submit" value="Submit">
        </form>
    </body>
</html>